body {
    background-color: #8B60D0;
    font-family: cursive;
}

h1 {
    font-size: 3rem;
    font-weight: strong;
    font-family:'Trebuchet MS';
    text-align: center;
    color: #82074A;
}

.source {
    text-align: center;
    font-size: 0.9rem;
    background-color: #FFD166;
}

img.priyanka-chopra-image {
    display: block;
    margin-left: auto;
    margin-right: auto;

    border:#FFD166 5px dotted ;
    opacity: 80%;
    width: 200px;
}


div.about-summary {
    background-color: #8B60D0;
}
div p.summary-heading {
    font-size: 1.7rem;
    color:white;
    background-color: indigo;
}
div ul {
    background-color: indigo;
    line-height: 1.3rem;
    color: yellow;
}

